.grass {
    background:rgb(72, 208, 176);
}

.fire {
    background: rgb(251, 108, 108);
}

.water {
    background: rgb(112, 183, 250);
}

.bug {
    background: rgb(139, 195, 74);
}

.normal {
    background: rgb(199, 0, 57);
}

.poison {
    background: rgb(91, 45, 134);
}

.electric {
    background: rgb(226, 224, 45);
}

.fairy {
    background: rgb(152, 24, 68);
}

.fighting {
    background: rgb(151, 63, 38);
}

.rock {
    background: rgb(70, 24, 11);
}

.ghost {
    background: rgb(49, 51, 106);
}

.psychic {
    background: rgb(144, 12, 63);
}

.ice {
    background: rgb(18, 173, 214);
}

.dark {
    background: rgb(38, 42, 43); 
}

.flying {
    background: rgb(60, 93, 216); 
}

.dragon {
    background: rgb(221, 33, 33); 
}

.steel {
    background: rgb(111, 107, 103); 
}

