.pokemon-details {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

.pokemon-name {
    margin: 0;
    padding: 1rem;
}

.details-wrap {
    display: flex;
    justify-content: space-around; 
}

.details-wrap .pokemon-information {
    text-align: left;
    width: 50%;
    line-height: 1.4rem;
    padding: 1rem 0;
}

.details-wrap .pokemon-information div {
    background-color: hsla(0,0%,100%,.2);
    margin-bottom: .2rem;
    padding: 0.1rem 1rem;
    border-radius: 10px;
}

.pokemon-details .pokemon-image {
    width: 50%;  
    height: 100%;  
    display: flex;
    justify-content: center;
    position: relative;
    align-items: flex-end;
}

.pokemon-details .pokemon-image img {
    width: 60%;
    padding-bottom: 10px;
    z-index: 3;
}

.pokemon-ball {
  background-image: url('../../images/pokeball.png');
  height: 50%;
  width: 100%;
  position: absolute;
  filter: brightness(200%);
  bottom: -5px;
  right: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  z-index: 1;
}